.item {
	border: 1px solid #999;
	box-shadow: 0px 0px 8px #aaaaaa;
	border-radius: 5px;
	width: 130px;
	float: left;
	margin: 3px;
	padding: 3px;
	background: rgba(40, 120, 60, 0.75)
}  
p {
	text-align: center;
}	
p:hover {
    font-style: oblique;
}	
.emote	{
	height: 100px;
	width: 100px;
	margin: auto;
}
.aquitemcoragem {
    background: url(https://i.imgur.com/pScdmFJ.png?1) no-repeat center center;
	background-size: 100%;
}
.hardparty {
    background: url(https://i.imgur.com/pUXzAJb.gif) no-repeat center center;
	background-size: 100%;
}
.lights {
    background: url(https://i.imgur.com/Fi0RlUu.gif) no-repeat center center;
	background-size: 100%;
}
.harddance2 {
    background: url(https://i.imgur.com/CxJvRHX.gif?1) no-repeat center center;
	background-size: 100%;
}
.harddance1 {
    background: url(https://i.imgur.com/kxyR2zI.gif) no-repeat center center;
	background-size: 100%;
}
.damn {
    background: url(https://i.imgur.com/U4Rm1We.gif?1) no-repeat center center;
	background-size: 100%;
}
.approves {
    background: url(https://i.imgur.com/2DiQrDa.gif?1) no-repeat center center;
	background-size: 100%;
}
.hamsterspy {
    background: url(https://i.imgur.com/EgUqmwH.gif?1) no-repeat center center;
	background-size: 100%;
}
.tmjabiraca {
    background: url(https://i.imgur.com/zHkFWdK.gif) no-repeat center center;
	background-size: 100%;
}
.edt {
    background: url(https://rawgit.com/TheStrangerGuy/EDT/master/images/EDT-Logo.png) no-repeat center center;
	background-size: 100%;
}
.edtmini {
    background: url(https://i.imgur.com/9JR4xqX.png) no-repeat center center;
	background-size: 100%;
}
.edt2 {
    background: url(https://i.imgur.com/DBtr6Tr.png) no-repeat center center;
	background-size: 100%;
}
.chuck {
    background: url(https://i.imgur.com/nw0CkZA.gif) no-repeat center center;
	background-size: 100%;
}
.satskhi {
    background: url(https://i.imgur.com/bTXR2HA.png) no-repeat center center;
	background-size: 100%;
}
.hatsune {
    background: url(https://i.imgur.com/7c2rZBi.gif) no-repeat center center;
	background-size: 100%;
}
.djsona {
    background: url(https://i.imgur.com/p9j9onO.gif) no-repeat center center;
	background-size: 100%;
}
.tosaindo {
    background: url(https://i.imgur.com/X5ovb1Y.gif) no-repeat center center;
	background-size: 100%;
}
.tom {
    background: url(https://i.imgur.com/tPX2arb.png) no-repeat center center;
	background-size: 100%;
}
.hundredpercent {
    background: url(https://i.imgur.com/tHMZV3i.png) no-repeat center center;
	background-size: 100%;
}
.zeropercent {
    background: url(https://i.imgur.com/Y0DnYA9.png) no-repeat center center;
	background-size: 100%;
}
.aidento {
    background: url(https://i.imgur.com/rpUfLUf.jpg) no-repeat center center;
	background-size: 100%;
}
.doge {
    background: url(https://i.imgur.com/cZmTfyu.jpg) no-repeat center center;
	background-size: 100%;
}
.meobrigue {
    background: url(https://i.imgur.com/npQEJRM.png) no-repeat center center;
	background-size: 100%;
}
.fdc {
    background: url(https://i.imgur.com/R6GuQg4.gif) no-repeat center center;
	background-size: 100%;
}
.iamhappykaboom {
    background: url(https://i.imgur.com/xeLnB88.gif) no-repeat center center;
	background-size: 100%;
}
.aah {
    background: url(https://i.imgur.com/VkOZgog.gif) no-repeat center center;
	background-size: 100%;
}
.catdance {
    background: url(https://i.imgur.com/8Xjb1xq.gif) no-repeat center center;
	background-size: 100%;
}
.sexyhorse {
    background: url(https://i.imgur.com/9muxnlD.gif) no-repeat center center;
	background-size: 100%;
}
.datass {
    background: url(https://i.imgur.com/09i8DKw.png) no-repeat center center;
	background-size: 100%;
}
.runbitchrun {
    background: url(https://i.imgur.com/u4V5Rw0.gif) no-repeat center center;
	background-size: 100%;
}
.mexitroll {
    background: url(https://i.imgur.com/T8A3T0Z.gif) no-repeat center center;
	background-size: 100%;
}
.shoopda {
    background: url(https://i.imgur.com/j4KnRBU.gif) no-repeat center center;
	background-size: 100%;
}
.loveluv {
    background: url(https://i.imgur.com/hZ6FOqb.gif) no-repeat center center;
	background-size: 100%;
}
.nuclearboom {
    background: url(https://i.imgur.com/6dKb8in.gif) no-repeat center center;
	background-size: 100%;
}
.mew {
    background: url(https://i.imgur.com/dota3wn.gif) no-repeat center center;
	background-size: 100%;
}
.dancebean {
    background: url(https://i.imgur.com/RTZJpG4.gif) no-repeat center center;
	background-size: 100%;
}
.omgcry {
    background: url(https://i.imgur.com/p3N3QvR.gif) no-repeat center center;
	background-size: 100%;
}
.llamastare {
    background: url(https://i.imgur.com/CkqmNRc.gif) no-repeat center center;
	background-size: 100%;
}
.epicclap {
    background: url(https://i.imgur.com/X92kAVi.gif) no-repeat center center;
	background-size: 100%;
}
.motherofgod {
    background: url(https://i.imgur.com/nhtt6Vw.gif) no-repeat center center;
	background-size: 100%;
}
.hmmm {
    background: url(https://i.imgur.com/3x8CVgf.gif) no-repeat center center;
	background-size: 100%;
}
.rickrolld {
    background: url(https://i.imgur.com/YnyyrFx.gif) no-repeat center center;
	background-size: 100%;
}
.correrichard {
    background: url(https://i.imgur.com/NoBSWD5.gif) no-repeat center center;
	background-size: 100%;
}
.plasmacannon {
    background: url(https://i.imgur.com/GVYv6tj.gif) no-repeat center center;
	background-size: 100%;
}
.pacv {
    background: url(https://i.imgur.com/sZQMJRh.png) no-repeat center center;
	background-size: 100%;
}
.boop {
    background: url(https://i.imgur.com/O69bOJf.png) no-repeat center center;
	background-size: 100%;
}
.mms {
    background: url(https://i.gyazo.com/31bb21757d5c981a97d573fd009c00af.png) no-repeat center center;
	background-size: 100%;
}
.tacodance {
    background: url(https://i.imgur.com/aMrae4z.gif) no-repeat center center;
	background-size: 100%;
}
.partyhard {
    background: url(https://i.imgur.com/yk2HKzf.gif) no-repeat center center;
	background-size: 100%;
}
.huegif {
    background: url(https://media.giphy.com/media/QJseZ5qyVbT4Q/giphy.gif) no-repeat center center;
	background-size: 100%;
}
.watgif {
    background: url(https://i.imgur.com/U1kciVw.gif) no-repeat center center;
	background-size: 100%;
}
.watingif {
    background: url(https://i.imgur.com/hd6J9rl.gif) no-repeat center center;
	background-size: 100%;
}
.dhpandabro {
    background: url(https://i.gyazo.com/87156e3d8876bf07aecf57a08a458831.png) no-repeat center center;
	background-size: 100%;
}
.alan_walker {
    background: url(https://i.imgur.com/zRjfax2.png?1) no-repeat center center;
	background-size: 100%;
}
.facepalmgif {
    background: url(http://i.imgur.com/AHrMuv6.gif?1) no-repeat center center;
	background-size: 100%;
}
.ragegif {
    background: url(https://i.imgur.com/oT12Y0B.gif) no-repeat center center;
	background-size: 100%;
}
.kappagif {
    background: url(https://i.imgur.com/F6nWB7M.gif) no-repeat center center;
	background-size: 100%;
}
.kreygasmgif {
    background: url(http://i.imgur.com/Ym7LGUx.gif) no-repeat center center;
	background-size: 100%;
}
.lindsey_stirling {
    background: url(http://i.imgur.com/pxTKatv.png?1) no-repeat center center;
	background-size: 100%;
}
.triggeredd {
    background: url(https://i.imgur.com/P62r5Kd.jpg) no-repeat center center;
	background-size: 100%;
}
